html, body {
    margin: 0 auto;
    text-align:center;
    font-family: 'Smythe', cursive;
} 

/* Typography */

h1 {
    color:#ffffff;
    font-weight:400px;
    font-size:40px;
    margin-bottom:0;
    
}

h3 {
    margin-top:0px;
    color:#ffffff;
    font-size:22px;
}
 h4 {
    color:black;
    font-size:25px;
    margin:0;
    padding:0;
}

h5 {
    font-size:20px;
    padding:0;
    margin:0;
}

p {
    margin: 5px auto;
}

.light-grey-text {
    color:#8B8B8B;
}

/* layout */
.menu-container {
    width:520px;
    margin: 0 auto;
}


.banner {
    position:relative;
    text-align:center;
     
}

.title {
    position:absolute;
    left:2%;
    top:2%;
    text-align:left;
    margin-left: 40px;
   margin-top:40px;
    padding: 0;
    letter-spacing:2px;
}

.menu-content {
    width: 520px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content:flex-start;
    
}

.menu-items-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #D2D2D2;
    min-width:100%;
    padding: 20px;
    box-sizing:border-box;
}

.menu-item {
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0px 10px 0px 10px;
   
}

/*images*/ 
.burger-header-img {
    width:100%;
    height:100%;
}

.food-imgs {
    width:70px;
    height:90px;
    border:1.5px solid #D2D2D2;
    border-radius:5px;
    margin-right:10px;
    margin-left:0;
}
/*buttons*/ 

.add-item-btn-container {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin-left:auto;
}
.add-item-btn {

    width:50px;
    height:50px;
    font-size:40px;
    border-radius:50%;
    border: 1.5px solid #DEDEDE;
    background-color:#ffffff;
    color:black;
    margin-left: auto;
    }

.remove-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    border: none;
    background-color:#ffffff;
    color:#BBBBBB; }
    
    /* Styles for order-container*/
    
  .order {
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    width:520px;
    font-size:28px;
    margin:0 auto;
    padding:20px;
    flex: 1;
    
}

  /* Styles for each individual order item */
.order-item {
    padding-bottom: 30px;
    display:flex;
    flex-direction:column;
    color:#000000;
    margin:0 auto;
    padding:10px;
    width:100%;
}

/* Styles for total price */

.order-details {
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:#0E0E0E;
    gap:10px;
    font-size:28px;
    width:100%;
    
}
/*styles for individual prices*/

.price {
    font-size:20px;
    margin-left:auto;
}

.total {
    
    font-size: 20px;
}

.name-and-remove {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order.border-bottom {
    border-bottom: 2px solid #D2D2D2;
}




    


    







